# Entornos y caché
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Datos descargados (Exigencia de la tarea)
MNIST/
*.idx-ubyte
*.gz

# Pesos de las redes (Se entregan sueltos o en un enlace)
*.pt
weights/

# Gráficos y salidas
resultados/
*.png

# notebooks
*.ipynb